html, body {
    height: 100%;
}

body {

}

#wrap {
    min-height: 100%;
    margin: 0 auto -60px;
    padding-bottom: 20px;
}

#push {
    height: 60px;
}

div#footer {
    font-size: 13px;
    background-color: #f5f5f5;
    height: 60px;
    line-height: 20px;
}

div#footer p {
    margin: 20px 0;
    color: #999999;
    text-align: center;
}

.grid-view .button-column{
    width: 100px !important;
}

.tableGraphics td{
    padding: 3px !important;
}

.bg-info {
    background-color: #dff0d8 !important;
}

.bg-success {
    background-color: #F62817 !important;
}

.bg-success a {
    color: white;
    font-weight: 700;
}