.pull-left, .pull-right, #mainmenu, h1, #footer, #push, .clear, br{
    display: none;
}


a:after{
    display: none;
    content: "";
}

.pbrack { display: block; page-break-before: always; }

*{
    float: none !important;
}
